* .heading {

    max-width: 10em;
    max-height: 6em;
}

#header>div {
    display: flex;
    justify-content: space-around;
}

#navbar {
    background-color: #4371A3;
}

#navbar ul {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    list-style: none;
}

#navbar a {

    font-weight: bold;
    text-decoration: none;
    color: white;
}

.smallpic {
    width: 15em;
    height: 12em;
}

.horizontalpic {
    width: 37em;
    height: 12em;
}

#verticalpic {
    width: 15em;
    height: 12em;
}
#hero {
    display: flex;
}

.part1 {

    border: solid 2px black;
}

.text {

	font-size: 20px;
    display: flex;
    padding: 4px 80px 4px 4px;
    margin: 4px 80px 4px 10px;
}

.text>p {
    margin-right: 20px;
}

body {
    background-color: #5286C1;
}
.paragraphtext {
	font-family: "times new roman";
	color: white;
}
p.headingpara {
	font-weight: bold;
}
#footer {	
	background-color: #4371A3;
}
#footer ul {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	display: flex;
    justify-content: space-around;
   list-style-type: none;
   align-items: center;
}
.footerimg{
    width: 50px;
    height: 50px;
}
